In [4]:
import pandas as pd
import numpy as np

## Data Entry
Based on sources, enter the states that belong to each region and the diabetic population, proportion of each state. 

Dictionary: 
1. region_state | key = region | value = list(states)
2. state_diabetes | key = state | value = tuple(diabetic population, diabetic proportion, policy_in_effect)

In [7]:
# Region vs State
region_state = {"Northeast": [
    "Connecticut", 
    "Maine", 
    "Massachusetts", 
    "New Hampshire", 
    "New Jersey", 
    "New York", 
    "Pennsylvania", 
    "Rhode Island", 
    "Vermont"],
"Midwest": [
    "Indiana",
    "Illinois",
    "Iowa",
    "Kansas",
    "Michigan",
    "Minnesota",
    "Missouri",
    "Nebraska",
    "North Dakota",
    "Ohio",
    "South Dakota",
    "Wisconsin"],
"South": [
    "Alabama",
    "Arkansas",
    "Delaware",
    "District of Columbia",
    "Florida",
    "Georgia",
    "Kentucky",
    "Louisiana",
    "Maryland",
    "Mississippi",
    "North Carolina",
    "Oklahoma",
    "South Carolina",
    "Tennessee",
    "Texas",
    "Virginia",
    "West Virginia"],
"West": [
    "Alaska",
    "Arizona",
    "California",
    "Colorado",
    "Hawaii",
    "Idaho",
    "Montana",
    "Nevada",
    "New Mexico",
    "Oregon",
    "Utah",
    "Washington",
    "Wyoming"]
}

In [21]:
state_diabetes = {
    "Connecticut": (308800, 9.1,1),
    "Maine": (124800, 9.0,1),
    "Massachusetts": (592500,9.2,0),
    "New Hampshire": (111300,8.1,1),
    "New Jersey": (792400,9.5,1),
    "New York": (1779200,9.9,1),
    "Pennsylvania": (1183000,10,0),
    "Rhode Island": (102500,10,1),
    "Vermont": (44600,7,1),
    "Indiana": (66400,11.2,0),
    "Illinois": (1185700,10.7,1),
    "Iowa": (287500,10.2,0),
    "Kansas": (256500,10.1,0),
    "Michigan": (923400,10,0),
    "Minnesota": (452000,9,1),
    "Missouri": (563700,10.1,0),
    "Nebraska": (161500,9.7,1),
    "North Dakota": (57300,8.9,0),
    "Ohio": (1203600,11.3,0),
    "South Dakota": (62000,8.0,0),
    "Wisconsin": (477700,8.8,0),
    "Alabama": (614900,13.4,1),
    "Arkansas": (367300,13.9,0),
    "Delaware": (111800,11.7,1),
    "District of Columbia": (44100, 8.7,1),
    "Florida": (2173400,9.6,0),
    "Georgia": (1017100,10.9,0),
    "Kentucky": (519100,12.9,1),
    "Louisiana": (520500,13.2,1),
    "Maryland": (578400,10.5,1),
    "Mississippi": (346900,13.7,0),
    "North Carolina": (1011800,10.6,0),
    "Oklahoma": (405800,12.1,1),
    "South Carolina": (533300,11,0),
    "Tennessee": (813400,13,0),
    "Texas": (3127800,13.2,1),
    "Virginia": (870500,11.3,1),
    "West Virginia": (247700,14.4,1),
    "Alaska": (48500, 8.3,0),
    "Arizona": (731900,11.3,0),
    "California": (3520500,10.6,0),
    "Colorado": (377300,7.6,1),
    "Hawaii": (134100,10.3,0),
    "Idaho": (145700,8.9,0),
    "Montana": (74400,7.1,1),
    "Nevada": (250900,8.8,0),
    "New Mexico": (207600,11,1),
    "Oregon": (354400,9,1),
    "Utah": (214700,8.9,1),
    "Washington": (595800,8.8,1),
    "Wyoming": (42000, 8.1,0)
}

## Data Combination

In [22]:
stat_reg_df = pd.DataFrame({
    'state': [v[i] for k,v in region_state.items() for i in range(len(v))],
    'region': [k for k,v in region_state.items() for i in range(len(v))]
    })

stat_diab_df = pd.DataFrame({
    'state': list(state_diabetes.keys()),
    'diabetic_patients':[v[0] for v in state_diabetes.values()],
    'has_cap': [v[2] for v in state_diabetes.values()]
})

In [24]:
df = pd.concat([stat_diab_df, stat_reg_df[['region']]], axis = 1)
df.head()

           state  diabetic_patients  has_cap     region
0    Connecticut             308800        1  Northeast
1          Maine             124800        1  Northeast
2  Massachusetts             592500        0  Northeast
3  New Hampshire             111300        1  Northeast
4     New Jersey             792400        1  Northeast

In [25]:
df['diab_w_cap'] = df['diabetic_patients']*df['has_cap']

In [28]:
region_df = df.groupby('region').sum()
region_df['percentage_w_cap'] = region_df['diab_w_cap']/region_df['diabetic_patients']*100

In [33]:
region_df[['diab_w_cap', 'diabetic_patients', 'percentage_w_cap']]

           diab_w_cap  diabetic_patients  percentage_w_cap
region
Midwest       1799200            5697300         31.579871
Northeast     3263600            5039100         64.765534
South         7040600           13303800         52.921722
West          1824200            6697800         27.235809

## Data Correction
Correct has_cap column to reflect if the state has had a policy cap take effect before 2022.

In [35]:
# states that had policy change after 2022
for state in ['Louisiana', 'Maryland', 'New Jersey', 'West Virginia', 'Washington', 'Montana',
              'Nebraska', 'North Dakota', 'Illinois', 'Minnesota']:
    state_diabetes[state] = (state_diabetes[state][0], state_diabetes[state][1], 0)

In [39]:
df_updated = pd.DataFrame({
    'state': [v[i] for k,v in region_state.items() for i in range(len(v))],
    'region': [k for k,v in region_state.items() for i in range(len(v))],
    'diabetic_patients':[v[0] for v in state_diabetes.values()],
    'has_cap': [v[2] for v in state_diabetes.values()]
    })

In [41]:
df_updated['pat_w_cap'] = df_updated['diabetic_patients']*df_updated['has_cap']

In [42]:
region_df_updated = df_updated.groupby('region').sum()
region_df_updated['percentage_w_cap'] = region_df_updated['pat_w_cap']/region_df_updated['diabetic_patients']*100
region_df_updated[['pat_w_cap', 'diabetic_patients', 'percentage_w_cap']]

           pat_w_cap  diabetic_patients  percentage_w_cap
region
Midwest            0            5697300          0.000000
Northeast    2471200            5039100         49.040503
South        5694000           13303800         42.799802
West         1154000            6697800         17.229538

In [53]:
Midwest_West = (
    region_df_updated.loc['Midwest','pat_w_cap'] + region_df_updated.loc['West','pat_w_cap']
    )/(
    region_df_updated.loc['Midwest','diabetic_patients'] + region_df_updated.loc['West','diabetic_patients']
)
Northeast_South = (
    region_df_updated.loc['Northeast','pat_w_cap'] + region_df_updated.loc['South','pat_w_cap']
    )/(
    region_df_updated.loc['Northeast','diabetic_patients'] + region_df_updated.loc['South','diabetic_patients']
)
print(f'Proportion of diabetic patients with cap in Midwest and West: {Midwest_West*100:.1f}%')
print(f'Proportion of diabetic patients with cap in Northeast and South: {Northeast_South*100:.1f}%')

Proportion of diabetic patients with cap in Midwest and West: 9.3%
Proportion of diabetic patients with cap in Northeast and South: 44.5%